<h2>About Deni</h2>
<p>
  Hi. I'm front-end developer, software engineer and architect. I enjoy learning modern engineering tricks and exploring the limits of science.
</p>

<h2>My motivation</h2>
<p>
  My greatest desire in life is to help humanity to unchain itself from the mechanical dreary tasks that make life experience shorter. And programming is the nearest fulfilling activity to this ambition I could reach so far.
</p>

<h2>My work</h2>
<p>
  In this place you can find all my personal open source projects, they are divided by programming skill. If you need a more detailed look of the source codes you can visit my <a href="https://github.com/TheHalcyonSavant" target="_blank">GitHub account</a>.
</p>

<!--p>
  <h2></h2>
  I dream of my councisness levitate over the boundaries of human knowledge and watching into the mistery through the topmost window of our known roof.
  And when I'm awake, I'm struggling for the easest survival that aims for that dream.
</p-->

<p>This webapp is created with:</p>

<div class="skillsTable">
  <h5>Front-end skills:</h5>
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><a href="http://www.w3.org/TR/html5/" target="_blank">HTML5</a></li>
        <li>Responsive <a href="http://www.w3.org/TR/css3-syntax/" target="_blank">CSS3</a></li>
        <li><a href="http://sass-lang.com/" target="_blank">SASS</a></li>
        <li><a href="http://compass-style.org/" target="_blank">Compass</a></li>
        <li><a href="https://github.com/ai/autoprefixer" target="_blank">Autoprefixer</a></li>
        <li><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></li>
        <li><a href="http://www.adobe.com/products/photoshop.html" target="_blank">Adobe Photoshop</a></li>
        <li><a href="http://www.sublimetext.com/" target="_blank">Sublime Text 2</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <ul class="list-unstyled">
        <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
        <li><a href="http://angular-ui.github.io/" target="_blank">AngularUI</a></li>
        <li><a href="http://www.breezejs.com/documentation/breeze-angular-service" target="_blank">Breeze - Angular</a></li>
        <li><a href="http://lodash.com/" target="_blank">Lo-Dash</a></li>
        <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
        <li><a href="http://qunitjs.com/" target="_blank">QUnit</a></li>
        <li><a href="http://www.jshint.com/about/" target="_blank">JSHint</a></li>
        <li><a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <ul class="list-unstyled">
        <li><a href="http://yeoman.io/" target="_blank">Yeoman</a></li>
        <li><a href="https://www.npmjs.org/" target="_blank">NPM</a></li>
        <li><a href="http://gruntjs.com/" target="_blank">Grunt</a></li>
        <li><a href="http://bower.io/" target="_blank">Bower</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Unit_testing" target="_blank">Unit</a>/<a href="https://docs.angularjs.org/guide/e2e-testing" target="_blank">e2e</a> <a href="http://en.wikipedia.org/wiki/Test-driven_development" target="_blank">TDD</a></li>
        <li><a href="http://jasmine.github.io/2.0/introduction.html" target="_blank">Jasmine</a></li>
        <li><a href="http://karma-runner.github.io/" target="_blank">Karma</a></li>
        <li><a href="https://github.com/angular/protractor" target="_blank">Protractor</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="skillsTable">
  <h5>Back-end skills:</h5>
  <div class="row">
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><a href="http://www.asp.net/web-api" target="_blank">ASP.NET WebAPI 2</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/dd692930(v=sql.10).aspx" target="_blank">SQL Server 2012</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/data/ef.aspx" target="_blank">Entity Framework 6</a></li>
        <li><a href="http://owin.org/" target="_blank">OWIN</a></li>
        <li><a href="http://www.breezejs.com/documentation/aspnet-web-api" target="_blank">Breeze.NET</a></li>
        <li><a href="https://github.com/octokit/octokit.net" target="_blank">Octokit.NET</a></li>
        <li><a href="https://github.com/aaubry/YamlDotNet" target="_blank">YamlDotNet</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <ul class="list-unstyled">
        <li><a href="http://www.visualstudio.com/" target="_blank">Visual Studio 2013</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/w0x726c2(v=vs.110).aspx" target="_blank">.NET 4.5</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/kx37x362.aspx" target="_blank">Visual C# 5</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/512aeb7t.aspx" target="_blank">Generics</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/bb397926.aspx" target="_blank">LINQ</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/bb397687.aspx" target="_blank">Lambda Expressions</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Regular_expression" target="_blank">Regular Expressions</a></li>
      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <ul class="list-unstyled">
        <li><a href="http://www.iis.net/" target="_blank">IIS 7.5</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Integration_testing" target="_blank">Integration Testing</a></li>
        <li><a href="https://github.com/xunit/xunit" target="_blank">xUnit</a></li>
        <li><a href="https://github.com/Moq/moq4" target="_blank">Moq</a></li>
        <li><a href="https://github.com/dennisdoomen/fluentassertions" target="_blank">Fluent Assertions</a></li>
        <li><a href="https://github.com/davidebbo/WebActivator" target="_blank">WebActivator</a></li>
        <li><a href="http://msdn.microsoft.com/en-us/library/ff647202.aspx" target="_blank">Unity 3</a></li>
      </ul>
    </div>
  </div>
</div>

<p>
  If you are interested more about my life history check out my <a href="http://thehalcyonsavant.com/cv_eu_TheHalcyonSavant.pdf" target="_blank">CV</a> or send me an email at <a href="mailto:TheHalcyonSavant@gmail.com">TheHalcyonSavant@gmail.com</a>.
</p>